@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* header */
.header{
  background-image: url('../images/images/developer.png'),url('../images/images/header_bg.png');
  background-repeat: no-repeat;
  background-position: top left,bottom right;
}

/* nav styles */
nav{
  display: flex;  
  align-items: center;
  justify-content: space-between;
  /* margin: 50px 200px; */
}
.nav-title{
 
  font-weight: 800;
 font-size: 45px;
 
}
/* common shared style */
.text-primary{
  color: rgb(253, 110, 10);
}
nav ul li{
list-style: none;
}
nav li a{
  text-decoration: none;
  font-size: 20px;
margin-right: 50px;
}
.dark-2{
  color: rgb(71, 71, 71);
}
nav ul{
  display: flex;
  align-items: center;
}
.btn-primary{
  background-color: rgb(253, 110, 10);
  /* color: rgb(255, 255, 255); */
/* font-family: Open Sans; */
font-size: 20px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0%;
/* text-align: left; */
color: rgb(255, 255, 255);
padding: 10px 18px;
border-radius: 5px;
border: none;
}
/* banner styles */
.banner-greetings{
  /* color: rgb(71, 71, 71); */
font-family: Open Sans;
font-size: 45px;
font-weight: 600;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
}
.banner-title{
  color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 85px;
font-weight: 700;
line-height: 116px;
letter-spacing: 0%;
text-align: left;
}
.banner-profile-pic{
  /* 1699492_P3OLGJ1 1 */
/* position: absolute; */
width: 584px;
/* height: 676px;
left: 978px;
right: 38px;
top: 161px;
bottom: 3419px; */
}
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-content{
max-width: 580px;
}
.section-title{
  color: rgb(24, 24, 24);
/* font-family: Open Sans; */
font-size: 35px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}
.text-center{
  text-align: center;
}
.section-description{
  color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
 }
/* main styles */
main{
  max-width: 1140px;
margin:  0 auto;
} 
main section{
  margin-top: 130px;
  margin-bottom: 130px;
}
/* about styles */
.about{
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin: 130px;
}
.secondary-bg{
background-color: rgb(239, 237, 234);
}
.about-items{
  display: flex;
  justify-content: space-around;
}
.item-description{
  font-weight: 600;
}
/* skill section styles */
.skills-container{
  display: flex;
  gap: 24px;
 

}
.skills{
  padding: 30px;
  box-shadow: 0px 6px 50px 0px black;
  border-radius: 5pxS;
}
 /* resume section style */
 .resume-cintainer{
  display: flex;
  gap: 24px;
 }
 .experience-description ,.experience-sub-title{
  color: #757575;
 }
 .experience-sub-title{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
 }
 .resume-download-cv{
  margin-top: 50px;
 }